
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Entrematic Etiquette</title>
  <!-- Bootstrap core CSS -->
  <link href="./bootstrap.css" rel="stylesheet">

<script>
function startTime() {
  var today = new Date();
  var h = today.getHours();
  var m = today.getMinutes();
  m = checkTime(m);;
  document.getElementById('txt').innerHTML =
  h + ":" + m ;
  var t = setTimeout(startTime, 500);
}
function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>


</head>

<body onload="startTime()">
</br>
</br>
</br>
</br>
</br>
</br>
</br>
  <!-- Page Content -->
 {{{body}}}
<!-- Footer -->
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<div class="text-white display-1" id="txt"></div>

<footer class="page-footer font-small blue pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-white">© 2019 - 2020 Dynaco Entrematic Belgium N.V (V0.2 Ash ;)
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
  <!-- Bootstrap core JavaScript -->
  <script src="./jquery.min.js"></script>
  <script src="./bootstrap.bundle.min.js"></script>

</body>
</html>
